/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/build/assets/*-*.js
/public/build/assets/*-*.css
/public/build/assets/*-*.svg
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
_ide_helper.php
_ide_*
.phpstorm.meta.php

*no*commit*
docker-compose.yml

Modules/*/node_modules/
Modules/*/vendor/

packages/*/node_modules/
packages/*/vendor/

.pnpm-store
